<a href="https://colab.research.google.com/github/StacyMwende/MTN-Cote-d-Ivoire_IP_Week3/blob/master/Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#import the pandas library
import pandas as pd

#import the numpy library
import numpy as np

In [6]:
#reading the data from the CSV file and creating the dataframe to be used
#
df_geo = pd.read_csv("cells_geo.csv", sep=";")
df_geo
df_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3974 entries, 0 to 3973
Data columns (total 12 columns):
Unnamed: 0      3974 non-null int64
VILLES          3974 non-null object
STATUS          3907 non-null object
LOCALISATION    3974 non-null object
DECOUPZONE      3974 non-null object
ZONENAME        3968 non-null object
LONGITUDE       3974 non-null float64
LATITUDE        3974 non-null float64
REGION          3974 non-null object
AREA            3951 non-null object
CELL_ID         3974 non-null object
SITE_CODE       3974 non-null object
dtypes: float64(2), int64(1), object(9)
memory usage: 372.7+ KB

In [59]:
#for data preparation, i perfomed data cleaning as shown below
#
df_geo = pd.read_csv("cells_geo.csv", sep=";")
df_geo
#cheking for duplicates
df_geo.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3969    False
3970    False
3971    False
3972    False
3973    False
Length: 3974, dtype: bool

In [7]:
df_tel1 = pd.read_csv("Telcom_dataset.csv")
df_tel1 
df_tel1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
PRODUTC            5001 non-null object
VALUE              5001 non-null int64
DATETIME           5001 non-null object
CELL_ON_SITE       5001 non-null object
DW_A_NUMBER_INT    5001 non-null object
DW_B_NUMBER_INT    5001 non-null object
COUNTRY_A          5001 non-null object
COUNTRY_B          5001 non-null object
CELL_ID            5001 non-null object
SITE_ID            4285 non-null object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [53]:
#Data preparation: Data cleaning process
#
df_tel1 = pd.read_csv("Telcom_dataset.csv")
df_tel1 
#checking for duplicates
#df_tel1.duplicated()
#renaming mispelled column
df_tel1 = df_tel1.rename(columns={'PRODUTC':'PRODUCT','DATETIME':'DATE_TIME'})
df_tel1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
PRODUCT            5001 non-null object
VALUE              5001 non-null int64
DATE_TIME          5001 non-null object
CELL_ON_SITE       5001 non-null object
DW_A_NUMBER_INT    5001 non-null object
DW_B_NUMBER_INT    5001 non-null object
COUNTRY_A          5001 non-null object
COUNTRY_B          5001 non-null object
CELL_ID            5001 non-null object
SITE_ID            4285 non-null object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [16]:
df_tel2 = pd.read_csv("Telcom_dataset2.csv")
df_tel2 
df_tel2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
PRODUCT         5001 non-null object
VALUE           5001 non-null int64
DATE_TIME       5001 non-null object
CELL_ON_SITE    5001 non-null object
DW_A_NUMBER     5001 non-null object
DW_B_NUMBER     5001 non-null object
COUNTRY_A       5001 non-null object
COUNTRY_B       5001 non-null object
CELL_ID         5001 non-null object
SITE_ID         4325 non-null object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [0]:
#data preparation:data cleaning
#
df_tel2 = pd.read_csv("Telcom_dataset.csv")
df_tel2 
#Checking for duplicates
#df_tel2.duplicated()
#renaming columns to enable merging
df_tel2 =df_tel2.rename(columns = {'DW_A_NUMBER':'DW_A_NUMBER_INT', 'DW_B_NUMBER':'DW_A_NUMBER_INT'})

In [14]:
df_tel3 = pd.read_csv("Telcom_dataset3.csv")
df_tel3 
df_tel3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
PRODUCT            5001 non-null object
VALUE              5001 non-null int64
DATE_TIME          5001 non-null object
CELL_ON_SITE       5001 non-null object
DW_A_NUMBER_INT    5001 non-null object
DW_B_NUMBER_INT    5001 non-null object
COUNTRY_A          5001 non-null object
COUNTRY_B          5001 non-null object
CELLID             5001 non-null object
SIET_ID            4396 non-null object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [0]:
#stage 3:Data preparation - data cleaning
df_tel3 = pd.read_csv("Telcom_dataset3.csv")
df_tel3 
#Checking for duplicates
#df_tel2.duplicated()
#renaming the mispelled columns
df_tel3 = df_tel3.rename(columns = {'CELLID':'CELL_ID', 'SIET_ID':'SITE_ID'})
#to review changes
df_tel3.info()

In [57]:
#data preparation
#in this stage i chose to merge the three telcom_datasets to enable me work on 2 datasets for easier analysis.
df_mer = [df_tel1, df_tel2, df_tel3]
df_merged = pd.concat(df_mer)
df_merged
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15003 entries, 0 to 5000
Data columns (total 12 columns):
CELL_ID            15003 non-null object
CELL_ON_SITE       15003 non-null object
COUNTRY_A          15003 non-null object
COUNTRY_B          15003 non-null object
DATETIME           5001 non-null object
DATE_TIME          10002 non-null object
DW_A_NUMBER_INT    15003 non-null object
DW_B_NUMBER_INT    15003 non-null object
PRODUCT            10002 non-null object
PRODUTC            5001 non-null object
SITE_ID            12966 non-null object
VALUE              15003 non-null int64
dtypes: int64(1), object(11)
memory usage: 1.5+ MB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [39]:
#dropping some columns from the merged dataset
#
df_mer = [df_tel1, df_tel2, df_tel3]
df_merged = pd.concat(df_mer)
df_merged
df_merged.drop(['COUNTRY_A', 'COUNTRY_B'], axis=1, inplace=True)
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15003 entries, 0 to 5000
Data columns (total 10 columns):
CELL_ID            15003 non-null object
CELL_ON_SITE       15003 non-null object
DATETIME           5001 non-null object
DATE_TIME          10002 non-null object
DW_A_NUMBER_INT    15003 non-null object
DW_B_NUMBER_INT    15003 non-null object
PRODUCT            10002 non-null object
PRODUTC            5001 non-null object
SITE_ID            12966 non-null object
VALUE              15003 non-null int64
dtypes: int64(1), object(9)
memory usage: 1.3+ MB

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [45]:
#for stage 4 of data analysis
#
#I also created an aggregate from multiple tables provided
most_used_product=df_merged.groupby('PRODUCT')['VALUE'].sum()
most_used_product.sort_values(ascending=False)

PRODUCT
Voice    209107
sms       40714
data      11787
Name: VALUE, dtype: int64